#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

@font-face {
    font-family: 'Vanished';
    src: url('../public/fonts/Vanished.ttf') format('truetype');
}

.title {
    font-family: 'Vanished';
    font-size: 28px;
    font-weight: 400;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@keyframes wiggleZoom {
  0%, 100% {
    transform: rotate(-5deg) scale(1);
  }
  50% {
    transform: rotate(5deg) scale(1.2);
  }
}

.wiggle-zoom:hover {
  animation: wiggleZoom 0.5s ease-in-out;
}