* {
    box-sizing: border-box;
}

html, body #root {
  height: 100%;
  width: 100%;
  max-width: 800px;
  background-color: #0a0a0a;
  margin: 0 auto;
  text-align: center;
  scrollbar-gutter: stable;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
}

.post-textcontent {
  font-family: 15px; 
  font-weight: 400;
}

.scroll-container {
  overflow-y: scroll;
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
  mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
}

/* The entire scrollbar */
::-webkit-scrollbar {
  width: 8px; /* super thin */
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(81, 81, 81);
  border-radius: 12px;
  /* border: 3px solid transparent; */
  background-clip: padding-box;
}

::-webkit-scrollbar-track {
  /* background: transparent; */
  background-color: rgb(16, 16, 16);
}

.home {
  width: 100%;
}

@font-face {
    font-family: 'Vanished';
    src: url('../fonts/Vanished.ttf') format('truetype');
}

.title {
    font-family: 'Vanished';
    font-size: 28px;
    font-weight: 400;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@keyframes wiggleZoom {
  0%, 100% {
    transform: rotate(-5deg) scale(1);
  }
  50% {
    transform: rotate(5deg) scale(1.2);
  }
}

.wiggle-zoom:hover {
  animation: wiggleZoom 0.5s ease-in-out;
}

/* Always show scrollbar */
.scrollbar-hidden::-webkit-scrollbar {
  width: 8px; /* or your preferred width */
  height: 8px;
}

.scrollbar-hidden::-webkit-scrollbar-track {
  background: transparent; /* keep track invisible */
}

.scrollbar-hidden::-webkit-scrollbar-thumb {
  background-color: #3d3c3c; /* Thumb always visible */
  border-radius: 9999px;     /* Rounded thumb */
  background-clip: content-box;
}

/* Firefox */
.scrollbar-hidden {
  scrollbar-width: thin;
  scrollbar-color: #999999 transparent; /* thumb color + transparent track */
}
